<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam Jacobs</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/pure.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <div class="footer">
    <ul>
      <li><a href="#egg">Easter Egg</a></li>
    </ul>
  </div>
</html>
