<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam Jacobs</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/pure.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/grid.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <div nav>
    <body>
      <div class="navbar">
        <ul class="menu">
          <!-- <div class="name">
            <li><a class="active" href="#index">Sam Jacobs</a></li>
          </div> -->
          <div class="other">
            <li><a href="#about">About</a></li>
            <li class="dropdown">
              <a href="#">Projects</a>
              <div class="dropdown-content">
                <a href="#">Train Game</a>
                <a href="#">Centaur Generator</a>
                <a href="#">In Progress</a>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </body>
  </div>
</html>
