{% include 'html/header.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam Jacobs</title>
  </head>
    <body>
      <h1>Sam Jacobs</h1>
      <div class="box">
        <ul>
          <li><a href="https://github.com/perused" target="_blank"><img src="/static/img/github.ico" alt="github">@perused</a></li>
          <li><a href="mailto:samjacobs7878@gmail.com?subject=Job%20Offer&body=Dear%20Sam%2C%20%0A%0AWe%20would%20like%20to%20offer%20you%20a%20position%20with%20our%20company%20immediately%2C%20with%20a%20very%20high%20salary.%0A%0AWarm%20regards%2C%0A%0AVery%20Well%20Known%20Company"><img src="/static/img/mail.ico" alt="mail">samjacobs7878@gmail.com</a></li>
          <li><a href="static/files/CV Sam Jacobs.pdf" download><img src="/static/img/download.ico" alt="download">Résumé</a></li>
        </ul>
    </div>
  </body>
</html>
<!-- {% include 'html/footer.html' %} -->