{% include '/html/header.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Train Game</h1>
    <div class="train_nums">
      <form class="add" method="POST">
        <ul>
          <li><input type="number" name="input_add" placeholder="" autofocus required><br></li>
          <li><input type="number" name="input_add" placeholder="" autofocus required><br></li>
          <li><input type="number" name="input_add" placeholder="" autofocus required><br></li>
          <li><input type="number" name="input_add" placeholder="" autofocus required><br></li>
          <li><button class="flat" type="submit">Add Now</button></li>
        </ul>
      </form>
    </div>
  </body>
</html>